@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.hero-paragraph {
  font-family: "Space Mono", monospace;
  
}

p.hero-paragraph {
  line-height: 1;
}

.hero-title{
  font-family: Bitter;
}

/* Custom.css */
@media (max-width: 768px) {
  .hero-title {
    font-size: 48px; /* Smaller font size */
  }

  .hero-paragraph {
    font-size: 18px; /* Smaller font size */
    width: auto; /* Adjust width as necessary */
  }

  /* Adjust the SVG dimensions and position */
  .sun-svg {
    width: 100px; /* Smaller width */
    height: 100px; /* Smaller height */
    right: -60px; /* Adjust position */
    top: -90px; /* Adjust position */
  }

  .galaxy-svg {
    width: 400px; /* Smaller width */
    height: 400px; /* Smaller height */
    right: 10px; /* Adjust position */
    top: -1px; /* Adjust position */
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes reverse-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.spin-animation {
  animation: spin 0.5s ease-in;
}

.reverse-spin-animation {
  animation: reverse-spin 0.35s ease-in;
}


.li-hover-animate {
  position: relative;
  overflow: hidden;
}

.li-hover-animate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transition: width 0.25s ease-out;
  z-index: -1;
}

.li-hover-animate:hover::after {
  width: 100%;
}

.is-active {
  transform: scale(1.05);
}